/* 
-------------------
Global styles reset
-------------------
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
---------
Container
---------

 */

.container {
  height: auto;
  width: 100vw;
  overflow-y: auto;
  padding: 40px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
--------------
Section/header
--------------
 */

header,
section {
  max-width: 1280px;
}

header {
  display: flex;
  max-height: 333px;
}

.heading,
.description {
  height: 100%;
  width: 50%;
}

.heading {
  font-size: 36px;
}

.description {
  font-size: 18px;
}

/*
----------
Image grid
----------
 */

.img-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1280px;
}

/*
----------
Image card
----------
 */

.img-card {
  height: 283px;
  width: 138px;
  margin-top: 20px;
  border: 0.1px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.img-card > img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.img-caption {
  margin-top: 5px;
}

.indent {
  margin-top: 100px;
  margin-bottom: 50px;
}

/*
------
Footer
------
 */

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

footer > a {
  margin-left: 2px;
  margin-right: 2px;
  /* text-decoration: none; */
  color: black;
}

/*
----------
Media queries
----------
 */

@media (min-width: 768px) {
  .img-card {
    height: 449px;
    width: 335px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 18px;
  }

  .description {
    font-size: 12px;
  }
}

@media (min-width: 960px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }

  .img-grid {
    margin-top: 50px;
  }
}
